.trash-icon{
    min-width:40px !important; /* or whatever width you want. */
    max-width:40px !important; /* or whatever width you want. */
    display: inline-block !important;
}
h1{
    text-align: center;
}