p{
    color: #5f6368;
    margin: auto;
    margin-top: 18px !important;

}
.home {
    color: #393d42 !important;
}
.number-notes{
    margin: auto;
}
.navbar{
  box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.5); 
  max-height: 55px !important;

}
.searcher{
    margin: auto;
    margin-top: 15px;
    margin-left: -50px;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 70%;

}
@media (max-width: 999px){
    .searcher{
        margin: auto;
    }
    
}
.nav-item{
    margin:auto;
    align-items: center;
}
.navbar .navbar-toggler .icon-bar {
    background: black !important;
}
.toggler-icon{
    color: #393d42 !important;
    background-color: #393d42 !important;
}