
p{
    color: #5f6368;
    margin: auto;
    margin-bottom: 17px;
}
.home {
    color: #393d42 !important;
    margin-left: 13px;
}
.number-notes{
    margin: auto;
    margin-bottom: -18px !important;
}
.navbar{
  box-shadow: 0px 1.5px 1px #dfe0e4; 
  max-height: 55px !important;

}
.searcher{
    margin: auto;
    margin-top: 15px;
    margin-right: 20%;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 70%;
    color: #393d42 !important;

}
.searcher.my-searcher{
    width: 100%;
}
@media (max-width: 1300px){
    .searcher{
        margin-right: 20%;
        width: 50%;
    }
}@media (max-width: 940px){
    .searcher{
        margin-right: 10%;
    }
}
@media (max-width: 760px){
    .searcher{
        margin-right: 1%;
    }
}
@media (max-width: 650px){
    .searcher{
        width: 40%;
        margin-right: -10px;
    }
  
}


@media (max-width: 575px){
    .searcher.s-screen{
        margin: auto;
        margin-left: 10%;
    }
    .searcher.l-screen{
        display: none;
    }  
    .home{margin-top: -20px;}
    .navbar-collapse
    {
        background-color:rgb(255, 255, 255);
        border-radius: 10px;
        border:solid ;
        border-color: #ababab;    
        border-width: 0.5px;   
    }   
    .delete-button{
        margin-bottom: 4px;
    }
    .white.box{
        display: none;
    }
}

@media (min-width: 575px){
    .searcher.s-screen{
        display: none;
    }
}
@media (max-width: 470px ){
    .searcher{
        width: 20%;
        margin-right: 0% !important;
    }

}
.nav-item{
    margin:auto;
    align-items: center;
}
.navbar .navbar-toggler .icon-bar {
    background: black !important;
}
.toggler{
    margin-top: -17px;

}
.toggler-icon{
    color: #393d42 !important;
    background-color: #393d42 !important;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border-color: #dfe0e4;
}
.custom-control-input~.custom-control-indicator{
    background-color: grey !important;
}

.custom-control-input:focus~.custom-control-indicator{
    box-shadow: none !important; 
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.custom-control-input:active~.custom-control-indicator{color:#fff;background-color:#ababab !important}
.custom-select {
    border: none;
    margin-right: 10px;
    background-color: transparent;
  }
  .box{
    width: 96px;
    height: 38px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;

  }
  
  .white.box{
    width: 96px;
    height: 38px;
    background-color: rgb(255, 255, 255);
}
.delete-button{
    background-color: #dc363e;
    border: solid;
    border-width: 0.1px;
    border-color: #8a282d;
}
.delete-button:hover{
    background-color: #bb2d3b;
}
