
p{
    color: #5f6368;
    margin: auto;
}
.home {
    color: #393d42 !important;
    margin-left: 2.5em;
}
.number-notes{
    margin: auto;
    margin-bottom: -18px !important;
}
.navbar{
  box-shadow: 0px 1.5px 1px #dfe0e4; 
  max-height: 55px !important;

}
.searcher{
    margin: auto;
    margin-top: 15px;
    margin-left: -180px;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 70%;
    color: #393d42 !important;

}

@media (max-width: 1100px){
    .searcher{
        width: 40%;
    }
  
}
@media (max-width: 990px){
    .searcher{
        margin: auto;
    }
    .searcher.l-screen{
        display: none;
    }  
    .home{margin-top: -20px;}
    
}
@media (max-width: 600px){
    .searcher.s-screen{
        width: 20%;
    }

    .home{
        margin-left: 0;
    }
}
@media (min-width: 991px){
    .searcher.s-screen{
        display: none;
    }

}


.nav-item{
    margin:auto;
    align-items: center;
}
.navbar .navbar-toggler .icon-bar {
    background: black !important;
}
.toggler{
    margin-top: -17px;

}
.toggler-icon{
    color: #393d42 !important;
    background-color: #393d42 !important;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border-color: #dfe0e4;
}
.custom-control-input~.custom-control-indicator{
    background-color: grey !important;
}

.custom-control-input:focus~.custom-control-indicator{
    box-shadow: none !important; 
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.custom-control-input:active~.custom-control-indicator{color:#fff;background-color:#ababab !important}
.custom-select {
    border: none;
    margin-right: 10px;
    background-color: transparent;
  }