
.newNote {
  background-color: #67d7cc !important;
}
.addNote-text-area {
  border: none;
  background-color: #67d7cc !important;
  height: 100px;
  width: auto;
  resize: none;
}

.addNote-text-area:focus {
  outline: none;
}


.note-text-area:focus {
  outline: none;
}  
.button-newnote {
  background-color:#67d7cc !important;
  box-shadow: none;
  border: none;
  align-items: flex-end;
}
.color-button{
  cursor: pointer;
}
.icons{
  color:white;
  margin-right: 10px;
  size: 20px;
  cursor: pointer;
}
.containter-buttons {
  display: flex;
  margin-bottom: -6px;
  margin-right: 30px;
}
.button.newNote {
  background-color:#67d7cc !important;
  box-shadow: none;
  border: none;
  align-items: flex-end;
}
.circle{
  margin-right: 1em;
  background-color: #67d7cc !important;
}
.drop-items{
  display: flex;
}
.drops-buttons{
  box-shadow: none;
  border: none;
  background-color: rgb(128, 128, 128) !important;
  margin-left: 1px;

}
