
.note {
    background-color: #fef68a;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.yellow{
  background-color: #fef68a !important;
}
.red{
  background-color: #fe8a8a !important;
}
.green{
  background-color: #a5fe8a !important;
}
.note.deleted {
  display: none;
}
.note-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.note-text-area {
    border: none;
    width: auto;
    resize: none;
    min-height: 100px;
    background-color: #fef68a;
  }
  
  .note-text-area:focus {
    outline: none;
  }

  .button {
    background-color:#fef68a;
    box-shadow: none;
    border: none;
    align-items: flex-end;
  }
  .color-button{
    cursor: pointer;
  }
  
  .containter-buttons {
    display: flex;
    margin-bottom: -6px;
    margin-right: 115px;
  }
  .circle{
    display: flex;
  }
  .circle.yellow{
    color: #fef68a;
  }
  .circle.red{
    color: #fe8a8a;
  }
  .circle.green{
    color: #a5fe8a;
  }
  .dropdown-target{
    background-color: rgb(128, 128, 128) !important;
    max-width: 15px !important;  
  }

  .drop-button {
    background-color: #fef68a !important;
  }
  .drop-text{
    color: rgb(0, 0, 0) !important;
    display: flex;
    align-items: flex-end;
  }
.date{
  display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    align-items: flex-end;
}
.squere {
  height: 17.5px;
  width: 126px;
}
