
.note {
    background-color: #fff475;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size:large;
    opacity: 1;
}
.note:hover{
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.5); 

}
.note:not(hover) .containter-buttons{
  opacity: 0;
  transition: 0.4s;
}
.note:hover .containter-buttons{
  display: flex;
  margin-bottom: -6px;
  margin-right: 115px;
  opacity: 1;
}
.yellow{
  background-color: #fff475 !important;
}
.red{
  background-color: #f28b82 !important;
}
.green{
  background-color: #ccff90 !important;
}
.orange{background-color: #fbbc04 !important;}
.turquoise{background-color: #a7ffeb !important ;}
.blue{background-color: #cbf0f8  !important;}
.dark-blue{background-color:#aecbfa  !important;}
.violet{background-color: #d7aefb !important;}
.pink{background-color:#fdcfe8 !important;}
.brown{background-color:#e6c9a8  !important;}
.grey{background-color: #e8eaed !important;}

.note.deleted {
  display: none;
}
.note-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.note-text-area {
  border: none;
  width: auto;
  resize: none;
  min-height: 100px;
  background-color: #fff475;
}

.note-text-area:focus {
  outline: none;
}
.button {
  background-color:#fff475;
  box-shadow: none;
  border: none;
  align-items: flex-end;
}
.color-button{
  cursor: pointer;
}

.dropdown-target{
  background-color: rgb(255, 255, 255) !important;
  border-radius: 10px !important;
}
.drop-button {
  background-color: #fff475 !important;
}
.drop-text{
  color: rgb(0, 0, 0) !important;
  display: flex;
  align-items: flex-end;
}
.date{
  display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: end;
    align-items: flex-end;
    width: 130px;
}
.circle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: -15px;
  margin-left: -6px;
  cursor: pointer ;

}
.circle:hover{
  border-width: 1.7px !important;
  border: solid;
}
.dropdown-menu.show{
  display: flex !important;
  opacity: 1 !important;
}
.dropdown-item{
  display: flex !important;
}
.last-item{
  margin-right: 8px;
}
.dropdown-item:hover{
  background-color: white !important;
}
[role="button"]{
  cursor: default !important;
}