.searcher-box{    
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 4px;
    border-color: #494d51;
    padding: 5px;
    border-radius: 10px;
    color: #494d51;
    background-color: #ffffff;
      
      
}
.searcher-box:hover{
    box-shadow: 0.1px 1.5px 1px #bdbebf !important;    
    ;
}
.searcher-box:active{
    box-shadow: 0.1px 1.5px 1px #bdbebf !important;    
    ;
}
.my-searcher{
    width: 80%;
    border: none;
    margin: auto;
}
.search-icon{
    margin-right: 20px !important;
    margin-left: -120px;
}
